<ul class="nav navbar-nav">
    <li class="">{{link-to 'Activity' 'activity'}}</li>
     <li class="">{{link-to 'Log' 'log'}}</li>
     {{!--<li class="">{{link-to 'Memos' 'memos'}}</li>--}}
</ul>
<ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text" style="color: red">Do not use this version in the field. It is incomplete and you may lose critical data</p></li>
    {{!--<li role="presentation"><a href="#" class="button btn-warning">{{fa-icon 'fa-bell'}}<span class="badge">4</span></a></li>
    <li role="presentation"><a href="#" class="button btn-danger">{{fa-icon 'fa-exclamation-triangle'}}<span class="badge">2</span></a></li>--}}
</ul>