<form class="navbar-form navbar-left">
    <div class="form-group {{if callsignError 'has-error'}}">
        <label for="{{concat elementId '-callsign'}}">This Callsign</label>
        {{input disabled=true class="form-control"  placeholder="e.g. ØA" id=(concat elementId '-callsign') value=model.callsign}}
    </div>
    <div class="form-group {{if DOError 'has-error'}}">
        <label for="{{concat elementId '-duty-officer'}}">Duty Officer</label>
        {{input class="form-control"  placeholder="SGT Oldmate" id=(concat elementId '-duty-officer') value=model.dutyOfficer}}
    </div>
</form>
<ul class="nav navbar-nav navbar-right">
    <li><a href="#" role="button" {{action this.attrs.zoom false}}>{{fa-icon 'fa-minus-square' size='lg'}}</a></li>
    <li><p class="navbar-text">{{fa-icon 'fa-search'}}{{zoomLevel}}%</p></li>
    <li><a href="#" role="button" {{action this.attrs.zoom true}}>{{fa-icon 'fa-plus-square' size='lg'}}</a></li>
    <li><a href="#" role="button" {{action this.attrs.toggleFullScreen}}>{{fa-icon 'fa-window-maximize' size='lg'}}</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{fa-icon 'cog' size='lg'}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Export Data</a></li>
            <li>{{link-to 'Configuration' 'index'}}</li>

            <li role="separator" class="divider"></li>
            <li class="disabled">Theme</li>
            <li>
                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary" onclick={{action this.attrs.switchCss 'base'}}>Light</button>
                    <button type="button" class="btn btn-default" onclick={{action this.attrs.switchCss 'dark'}}>Dark</button>
                </div>
            </li>
            <li role="separator" class="divider"></li>
            <li class="disabled">Autoprint</li>
            <li>
                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">None</button>
                    <button type="button" class="btn btn-primary">Priority</button>
                    <button type="button" class="btn btn-default">All</button>
                </div>
            </li>
        </ul>
    </li>
</ul>