<p><small>Radio Transmission</small></p>
{{button-action caption="Incoming" icon="fa-sign-in"}}
{{button-action caption="Outgoing" icon="fa-sign-out"}}
{{button-action caption="Monitored" icon="fa-headphones"}}
<p><small>Other Activity</small></p>
{{button-action caption="Memo" icon="fa-sticky-note-o"}}
{{button-action caption="Scheduled Memo" icon="fa-bell" flavour="btn-warning"}}
{{button-action caption="Critical Memo" icon="fa-exclamation-triangle" flavour="btn-danger"}}

