<div class="container-fluid">
  {{outlet}}
  <div class="row">
    <div class="col-xs-2">
      {{#panel-skel header="New Record" mode=mode}} 
        {{panel-traffic disabled=trafficDisabled startActivity=(action 'startActivity') cancel=(action 'cancelRecord')}} 
      {{/panel-skel}}
    </div>
    {{#if showTypes}}
      <div class="col-xs-2">
        {{#panel-skel header=recordHeader}} 
          {{panel-record trafficDirection=trafficDirection recordType=recordType disabled=typesDisabled selectType=(action 'selectType')}} 
        {{/panel-skel}}
      </div>
      {{#if recordType}}
        <div class="col-xs-8">
          {{#panel-skel header=contentHeader}}
            {{panel-content trafficDirection=trafficDirection recordType=recordType}}
          {{/panel-skel}}
        </div>
      {{/if}} 
    {{else}}
      <div class="col-xs-2">
        {{#panel-skel header="Memo" recordType=recordType}} {{panel-memo}} {{/panel-skel}}
      </div>
    {{/if}}
  </div>
</div>