<div class='container'>
  <div class='row'>
    <h1 class="text-center">Command Post Manager <small>April 2017 (beta 1)</small></h1>
    <h2>Basic Settings</h2>

    <form>
      <div class="form-group">
        <label for="{{concat elementId '-callsign'}}">This Callsign</label> 
        {{input class="form-control" placeholder="e.g. ØA" id=(concat elementId '-callsign') value=applicationController.callsign}}
      </div>
      <div class="form-group">
        <label for="{{concat elementId '-duty-officer'}}">Duty Officer</label> 
        {{input class="form-control" placeholder="SGT Oldmate" id=(concat elementId '-duty-officer') value=applicationController.dutyOfficer}}
      </div>
      {{link-to 'Submit' 'activity' disabled=disableSubmit class='btn btn-primary'}}
    </form>

  </div>

  <div class='row'>

    <h2>Tips</h2>
    <h3>The bottom right corner is your friend</h3>
    <p>Want to open this app in fullscreen? click {{fa-icon 'fa-window-maximize'}}</p>
    <p>There are a few options to explore in the {{fa-icon 'fa-cog'}} menu</p>
    <p>Text too large or small? <s>press <kbd>Ctrl</kbd>+<kbd>+</kbd> or <kbd>Ctrl</kbd>+<kbd>-</kbd> to adjust, <kbd>Ctrl</kbd>+<kbd>0</kbd> to reset.</s> Use the zoom buttons.</p>
  </div>
  <div class='row'>

    <h2>Project Information</h2>
    <p>This project is open source. {{link-ext href='https://github.com/abradner/cucp-ember-electron' label='View on GitHub'}}</p>
    <p>If you discover problems {{link-ext href='https://github.com/abradner/cucp-ember-electron/issues' label='Post an Issue'}}</p>
    <p>If you have solutions {{link-ext href='https://github.com/abradner/cucp-ember-electron/pulls' label='Submit a Pull Request'}}</p>
    <p>Current Maintainers:</p>
    <ul>
      <li><a href='https://github.com/abradner'>Alex Bradner</a></li>
    </ul>


  </div>
</div>
{{outlet}}